<% if(locals.book){%>
    <h3>Update book</h3>
<form method="POST" action="/admin/book/:<%=locals.book._id%>/edit">
    Photo:<br>
    <input type="text" name="photo" placeholder="<%=locals.book.book_photo%>">  <br>
    First Name:<br>
    <input type="text" name="fname" placeholder="<%=locals.book.fname%>">  <br>
    Last Name:<br>
    <input type="text" name="lname" placeholder="<%=locals.book.lname%>">  <br>
    Birth Date:<br>
    <input type="text" name="birthdate" placeholder="<%=locals.book.birth_date%>">  <br>
   <!--  HOW CAN WE ADD BOOKS??  -->
    <input type="submit" name="update">
</form>
<% } else{%> 
<form method="POST" action="/admin/book/:id/add">
   <h3>Add New book</h3>
    Name:<br>
    <input type="text" name="name">  <br>
    Cover:<br>
    <input type="text" name="cover">  <br>
    description:<br>
    <input type="text" name="description">  <br>

    Authores:<br> 
    <select id="authors" class="author" name="author">   
        <optgroup>
        <%for ( var i = 0; i <  locals.authores.length; i++ ){%>
            <% var selected = ( i == 0 ) ? "selected" : ""%>
            <option value="<%=locals.authores[i]._id%>" name="<%=locals.authores[i]._id%>" <%= selected%> ><%=locals.authores[i].fname + locals.authores[i].lname%></option>
        <%}%>
        </optgroup>
    </select>

    
    <br>
    categories:<br> 
    <select id="categories" name="category">
        <%for ( var i = 0; i <  locals.categories.length; i++ ){%>
            <% var selected = ( i == 0 ) ? "selected" : ""%>
            <option value="<%=locals.categories[i]._id%>" <%= selected%> ><%=locals.categories[i].name%></option>
        <%}%>
    </select>

    <input type="submit" name="add">    

</form>
<%}%>